<!-- Bloc commentaire -->
<article class="commentaire_bloc">
  <div class="commentaire_mainCommentaire">
    <div class="flex-to-row">
      <div class="perfect_row w-80">
        <div class="commentaire_avatar">
          <img
            src="./images/avatarPlaceholder.jpg"
            alt="Avatar de user"
            height="100%"
            width="100%"
          />
        </div>

        <p class="marginX-xs"><a href="public_profile.php">Pseudo</a></p>
      </div>

      <div class="flex-end w-20">
        <p>-Date publication-</p>
      </div>
    </div>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <div class="perfect_row">
      <div class="w-80">
        <span>-Nombres Réponses- v</span>
      </div>

      <div class="w-20 flex-end">
        <button onclick="location.href='redac_reponse.php'" type="button">
          Répondre
        </button>
      </div>
    </div>
  </div>

  <!-- Réponses -->
  <div class="commentaire_reponse_bloc">
    <article>
      <div class="flex-to-row">
        <div class="perfect_row w-80">
          <div class="commentaire_avatar">
            <img
              src="./images/avatarPlaceholder.jpg"
              alt="Avatar de user"
              height="100%"
              width="100%"
            />
          </div>

          <p class="marginX-xs"><a href="public_profile.php">Pseudo</a></p>
        </div>

        <div class="flex-end w-20">
          <p>-Date publication-</p>
        </div>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </article>
  </div>
</article>
