<!-- Bloc produit -->
<article class="produitBloc">
  <div>
    <img
      src="./images/imagePlaceholder.jpg"
      alt="Miniature du produit"
      height="100%"
      width="100%"
    />
  </div>

  <div class="produitBloc_texte">
    <h3><a href="produit.php">Nom Produit</a></h3>
    <p>-Prix-</p>
    <p>Quantité : <span>-Quantité-</span></p>

    <div class="flex-end">
      <div class="produitBloc_bouton">
        <button>Supprimer du panier</button>
      </div>
    </div>
  </div>
</article>
