<!-- Header Superieur -->
<div class="mainHeader flex-spaceBetween">
  <!-- Menu Burger -->
  <div>-MB-</div>

  <!-- Logo -->
  <div class="mainHeader_logo">
    <a href="index.php">
      <img
        src="./images/logoTest1.PNG"
        alt="Logo de mon site"
        height="70px"
        width="100%"
      />
    </a>
  </div>

  <!-- Barre de Recherche-->
  <div class="mainHeader_searchBar">-Barre de Recherche-</div>

  <!-- Profile -->
  <div class="mainHeader_profile flex-spaceBetween">
    <div class="flex-to-column">
      <p class="mainHeader_profile_texte">
        <a href="profile.php">Pseudo user</a>
      </p>

      <p class="mainHeader_profile_texte">
        <a href="profile.php">Grade user</a>
      </p>
    </div>

    <div>
      <a href="connexion.php">
        <img
          src="./images/avatarPlaceholder.jpg"
          alt="Avatar utilisateur"
          height="40px"
          width="40px"
        />
      </a>
      <p class="mainHeader_profile_texte">
        <a href="connexion.php" onclick="logout()">Déconnexion</a>
      </p>
    </div>
  </div>
</div>

<!-- Scripts -->
<script>
  function logout() {
    delete localStorage.jwt;
  }
</script>
