<!-- Navigation espace Profile -->
<nav class="profileNav list-padding">
  <ul class="list-style-none flex-spaceBetween">
    <li><a href="profile.php">Profile</a></li>
    <li><a href="profile_articles.php">Articles</a></li>
    <li><a href="profile_sujets.php">Sujets</a></li>
    <li><a href="profile_commentaires.php">Commentaires</a></li>
    <li><a href="profile_likes.php">mes j'aimes</a></li>
    <li><a href="profile_brouillons.php">Brouillons</a></li>
    <li><a href="profile_panier.php">Panier</a></li>
  </ul>
</nav>
